<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wiki</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <!-- Sidebar -->
        <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
            <h3 class="w3-bar-item">Wiki</h3>
            <form action="/action_page.php">
            
            <input type="text" id="fname" name="fname" value="Search Encyclopedia"><br>
            </form>
        <nav>
        <p><a href= "{% url 'index' %}">Home</a></p>
        <p><a href= "{% url 'createNewPage' %}">Create New Page</a></p>
        <p><a href="https://www.w3schools.com">Random Page</a></p>
        </nav>
            
        </div>
        
        <!-- Page Content -->
        <div style="margin-left:25%">
        
        <div class="w3-container w3-teal">
            <h1>All pages</h1>
            
        </div>
            <ul>
                <li><a href= "{% url 'css' %}">CSS</li>
                <li><a href= "{% url 'django' %}">Django</li>
                <li><a href= "{% url 'django' %}">Git</li>
                <li><a href= "{% url 'html' %}">HTML</li>
                <li><a href= "{% url 'latestNews' %}">Latest news</li>
                <li><a href= "{% url 'python' %}">Python</a></li>
                <li>Test1</li>
                <li>Naslov2</li>
                <li>Naslov3</li>
                <li>Neki naslov</li>
                <li>Jos neki naslov</li>
                <li>Wffa</li>
            </ul>
        
        
        <div class="w3-container">
        
        
        </div>
    </body>
</html>